* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	text-transform: capitalize;
}

/* Home page styles */
.wrapper {
	width: auto;
	height: 100vh;
	background-image: url('https://cdn.wallpapersafari.com/87/96/0eYsrX.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: opacity(80%);
	display: block;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.521);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.logo {
	font-family: sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.7rem;
	color: white;
}
.menu {
	display: inline-block;
	line-height: 80px;
}
.navmenu {
	width: 100%;
}

.menu ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	height: 20px;
	/* letter-spacing: 0.1rem; */
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0 5px;
	transition: 0.5s ease;
}

.menu ul li a:hover {
	color: white;
	border: 1px solid #00cc66;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: sans-serif;
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color: white;
	padding-bottom: 20px;
}

.header p {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color: white;
	padding-bottom: 30px;
}

.button {
	padding: 16px 42px;
	box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
	line-height: 1.25;
	text-decoration: none;
	background: #00b359;
	color: white;
	font-size: 16px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	position: relative;
	transition: background-color 0.6s ease;
	overflow: hidden;
	border-radius: 24px;
	cursor: pointer;
}

.button:hover {
	background: #00cc66;
}

/* Sign up styles */

.sbox {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00001a;
	text-align: center;
	border-radius: 24px;
}
.sbox h1 {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

.sbox input {
	border: 0;
	color: white;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: none;
	border-radius: 24px;
	transition: 0.25s;
}

.sbox input:focus {
	width: 220px;
	border-color: #00cc66;
}

.sbox button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;

	text-align: center;
	border: 2px solid #00cc66;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 1.2rem;
}

.sbox button:hover {
	background: #00cc66;
}

/* newItemForm styles */

.newItem {
	display: flex;
	justify-content: center;
	margin: 5vh;
	margin-top: 13vh;
}

.builder {
	background-color: #7cbc03;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0vh;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	color: #262401;
}
.builder label {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 3vh;
}

#item-form {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

#item-form input {
	margin-top: 1vh;
}

#water-input {
	margin-bottom: 1vh;
}

#newItem-button {
	width: 65%;
	border-radius: 5px;
	padding: 5%;
	background-color: #3a5a40;
	color: #dad7cd;
	margin-top: 2vh;
}

#frequency-input {
	margin-bottom: 5vh;
	width: 10%;
	height: 30px;
}

.frequencyDiv label {
	display: flex;
	flex-direction: row;
}

/* login styles */

.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00001a;
	text-align: center;
	border-radius: 24px;
}

.box h1 {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

::placeholder {
	text-align: left;
	padding-left: 15px;
}

.box input {
	border: 0;
	color: white;
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: none;
	border-radius: 24px;
	transition: 0.25s;
}

.box input:focus {
	width: 220px;
	border-color: #00cc66;
}

.box button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #00cc66;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 1.2rem;
}

.box button:hover {
	background: #00cc66;
}

.item-pic {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

/* dashboard styles */

.itemCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: scroll;
	width: 100%;
}

.cardHeader {
	background-color: #7cbc03;
	border-radius: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #262401;
	box-shadow: black 3px 3px;
	font-size: 2.5vw;
	margin-bottom: 20px;
	padding: 5%;
}

.card-container {
	background-color: #7cbc03;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #262401;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	width: 42%;
	height: 100%;
	margin-bottom: 20px;
}

.card-container ul{
	width: 90%;
}

.card-container ul li {
	color: #262401;
	background-color: forestgreen;
	margin-bottom: 8%;
	border-radius: 5px;
	box-shadow: black 2px 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.itemCard h3 {
	background-color: forestgreen;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #262401;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: black 2px 2px;
	width: 100%;
	height: 5vh;
	font-size: 1vw;
}

#itemCardInfo label {
	padding: 5%;
	color: #262401;
	background-color: forestgreen;
	margin-bottom: 8%;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	box-sizing: content-box;
	width: 100%;
	font-size: 1.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-container button {
	width: 40%;
	border-radius: 5px;
	background-color: #3a5a40;
	padding: 2%;
	justify-content: center;
	align-items: center;
	margin: .7vh;
	color: #dad7cd;
}

.itemWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
}

#editBtn{
	width: 100%;
}

#deleteBtn{
	width: 100%;
}

.btnWrapper {
	display: flex;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightskyblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: darkslateblue;
}

.scroll {
	display: flex;
	border: 0px solid red;
	padding: 5px;
	margin-top: 5px;
	width: 100%;
	height: 78vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Account page styles*/

.abox {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00001a;
	text-align: center;
	border-radius: 24px;
}
.abox h1 {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

.abox h3 {
	color: white;
	/* margin-bottom: 20px; */
}

.abox input {
	border: 0;
	color: white;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: none;
	border-radius: 24px;
	transition: 0.25s;
}

.abox input:focus {
	width: 220px;
	border-color: #00cc66;
}

.abox button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;

	text-align: center;
	border: 2px solid #00cc66;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 1.2rem;
}

.abox button:hover {
	background: #00cc66;
}

.item-panel{
	height: 80%;
	display: flex;
	flex-flow: row;
	width: 100%;
}


/* 1024 // 800 // 500 // lower */

@media (max-width: 1024px){
	#editBtn{
		width: 70%;
	}
	#deleteBtn{
		width: 70%;
	}
	.card-container{
		width: 40%;
	}
	.itemCard{
		justify-content: space-evenly;
		font-weight: bold;
	}
}

@media (max-width: 800px){
	.menu ul li a {
		font-size: .8rem;
	}
	.item-panel{
		flex-direction: column;
	}
	.newItem{
		margin-top: 3vh;
		margin-bottom: 2vh;
	}
	.builder{
		width: 90%;
	}
	#item-form{
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: baseline;
	}
	#item-form input{
		width: 100px;
	}
	#newItem-button{
		width: 100px;
		height: 50px;
	}
	.cardHeader{
		width: 90%;
	}
	
	
}

@media (max-width: 515px){
	.menu ul li a {
		font-size: 11px;
		width: 90px;
	}
}
@media (max-width: 500px){
	.builder{
		height: 25vh;
	}
	.card-container{
		width: 50%;
	}
}
